<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset=utf-8>
        <meta name=author content="poemcao">
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
        <link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=latin' rel='stylesheet' type='text/css'> 
        {% include analytics.html %}
    </head>
    <body>
        <nav class="breadcrumb">
            <div>
                <a href="/"><b>Blog</b></a> /
                <a href="https://github.com/poemcao">Projects</a> /
                <a href="/about">About</a>
            </div>
        </nav>
        <div id="container">
            {{ content }}
        </div>
        <footer id="main-footer">
            <div>
                Copyright {{ site.time | date: "%Y" }} poemcao. All rights reserved.<br> Last updated on {{ site.time | date: "%B %d, %Y" }}
            </div>
            <div>
                <a href="https://github.com/poemcao"><img src="/assets/github.png"/></a>
                <a href="http://weibo.com/1299602170/"><img src="/assets/weibo.png"/></a>
            </div>
        </footer>
    </body>
</html>
