<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>shi | 詩</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Alexandre Croteau-Pothier a Montreal based developper">
    <meta name="author" content="shi | 詩">
    <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    {% stylesheet app %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrap">

      <div id="header">
        <div class="container">
          <div class="row-fluid">
          <div class="span6 logo">
            <a href="/">
              <h1>詩</h1>
            </a>
          </div>
          </div>
        </div>
      </div>

      <div class="container">

        <div class="row-fluid">
          <div class="span2 sidebar hidden-phone">
            <img src="https://secure.gravatar.com/avatar/a375b44846ac68d82c949a45c24a0275?size=100" title="詩" alt="詩" class="img-circle" width="100" height="100" />
            <ul>
              <li><h5>詩</h5></li>
              <li><p>最美不過平淡天真 , 生活 , 旅行 , 搗騰.</p></li>
              <li><a href="https://github.com/poemcao">poemcao</a></li>
              <li><a href="http://weibo.com/poemcao/">@poemcao</a></li>
            </ul>
          </div>

          <div class="span10">
            {{content}}
          </div>
        </div>

      </div>
      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <div id="row">
          <p class="muted credit">
            &#169; 詩 2013</p>
        </div>
      </div>
    </div>

  </body>
  {% javascript app %}
</html>
